NODE_ENV=development

DB_NAME=providenceDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=

DATABASE_URL=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=ds4vplktr
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

FRONTEND_URL=http://localhost:5173

PORT=3000
